* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;

}

ul {
  display: flex;
  gap: 2rem;
  height: 7vh;
  align-items: center;
  padding-left: 2rem;
  list-style: none;
  color: rgb(255, 255, 255);
  background-color: rgb(142, 0, 0);
}

a {
  text-decoration: none;
}

ul :hover {
  color: rgb(255, 255, 0);
  cursor: pointer;
}

ul #searchInput:hover {
  color: black;
}

#logo {
  font-weight: bold;
  font-size: x-large;
  margin-right: 25vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logo:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.3);

}

#pro {
  height: 50vh;
  display: flex;
}

#left {
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  padding: 1rem;
  margin: 1rem;
  margin-right: 0rem;
  height: 100%;
  width: 40vw;
  background-color: rgb(220, 229, 245);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 10px;
}

#left button {
  position: relative;
  top: 100px;
  left: 20px;
  font-size: large;
  width: 135px;
  height: 42px;
  border: none;
  border-radius: 30px;
  background-color: rgb(255, 37, 37);
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

#left h6 {
  position: relative;
  top: 50px;
  left: 15px;
  font-weight: lighter;
}

#left h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  top: 20px;
  left: 10px;

}

#right {
  margin: 1rem;
  height: 100%;
  width: 60vw;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

#right img {
  height: 100%;
  width: 60vw;
  object-fit: fill;
  border-radius: 10px;
}

#searchInput {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
  margin: 20px;
  font-size: 1rem;
  margin-left: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttons {
  margin: 20px;
}

#filters {
  margin-top: 1rem;
  margin-left: 1rem;
}

.filter-btn {
  margin: 5px;
  padding: 10px 20px;
  background: #3a6ea5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filter-btn:hover {
  background: #345e8a;
}

#shop:hover {
  background: #883636;
}

#product {
  margin-top: 2rem;
  margin-left: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
}

.product {
  background: rgb(221, 245, 252);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product:hover {
  transform: scale(1.05);
}

#pro #left:hover {
  transform: scale(1.01);
}

#pro #right:hover {
  transform: scale(1.01);
}

.product img {
  width: 100px;
  height: 100px;
  object-fit: fill;
  border-radius: 8px;
}